<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search For Recipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">Recipe Finder</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
            </ul>
            <a href="/"><button class="btn btn-danger navbar-btn navbar-right" onclick="logout()"><span
                        class="glyphicon glyphicon-log-out"></span> Log Out</button>
            </a>
        </div>
    </nav>

    <div class="container-fluid">
        <header>
            <h1 class="text-center">Recipe Finder</h1>
        </header>
        <div class="container">
            <h2>Search for Recipes by Ingredients</h2>
            <form id="form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ingredients">Enter Ingredients:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="ingredients" name="ingredients"
                            placeholder="zucchini broccoli carrots" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="submit" class="btn btn-primary">Search for Recipes</button>
                    </div>
                    <div id="status"></div>
                </div>
            </form>
        </div>
        <div class="container" id="recipes">
        </div>
    </div>

    <script>
        $("#form").submit(function (e) {
            e.preventDefault();
            let form = $(this);
            let url = "/searchRecipes";

            $.ajax({
                    url: url,
                    type: "GET",
                    data: form.serialize()
                })
                .done(function (response) {
                    if (response && response.hits.length > 0) {
                        let recipeHtml = `<div class="row mx-auto">`;
                        response.hits.forEach(function (recipe) {
                            recipeHtml += `<div class="col-md-3">`;
                            recipeHtml += `<div class="card">`;
                            recipeHtml += `<img src="${recipe.recipe.image}" class="card-img-top">`;
                            recipeHtml += `<div class="card-body">`
                            recipeHtml +=
                                `<h5 class="title"><a target="_blank" rel="noopener noreferrer" href="${recipe.recipe.shareAs}">${recipe.recipe.label}</a></h5><hr>`;
                            recipeHtml +=
                                `<p><span class="num">${Math.floor(recipe.recipe.calories / recipe.recipe.yield)}</span> CALORIES</p><hr>`;
                            recipeHtml +=
                                `<p><span class="num">${recipe.recipe.ingredientLines.length}</span> INGREDIENTS</p><hr>`;
                            recipeHtml +=
                                `<a target="_blank" rel="noopener noreferrer" href="${recipe.recipe.url}">${recipe.recipe.source}</a>`;
                            recipeHtml += `<div><button id='saveRecipe' class='btn btn-primary'>Save Recipe</button></div>`;
                            recipeHtml += `</div></div></div>`;
                        });
                        recipeHtml += '</div>';
                        $('#recipes').html(recipeHtml);
                    } else {
                        $('#recipes').html(
                            '<div class="alert alert-danger" role="alert">No recipes matched your search criteria. Please try again.</div>'
                        );
                    }
                });
        });
    </script>

    <script src="./scripts/helper-functions.js"></script>
</body>

</html>