<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Recipes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <h2>Search for Recipes by Ingredient</h2>
    <form id="form" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="ingredient">Ingredient:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="ingredient" name="ingredient" placeholder="Enter an ingredient"
            required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id="submit" class="btn btn-primary">Search for Recipes</button>
        </div>
      </div>
    </form>
  </div>
  <div class="container" id="recipes">
  </div>

  <script>
    $("#form").submit(function (e) {
      e.preventDefault();
      let form = $(this);
      let url = "/getRecipes";

      $.ajax({
          url: url,
          type: "GET",
          data: form.serialize()
        })
        .done(function (response) {
          if (response && response.hits.length > 0) {
            let recipeHtml = '<div class="row">';
            response.hits.forEach(function (recipe) {
              recipeHtml +=
                '<p class="card-text">' + recipe.recipe.label + '</p>'
            });
            recipeHtml += '</div>';
            $('#recipes').html(recipeHtml);
          } else {
            $('#recipes').html(
              '<div class="alert alert-danger" role="alert">No recipes matched your search criteria. Please try again.</div>'
              );
          }
        });
    });
  </script>
</body>

</html>