<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>My Recipes</title>
</head>

<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">Recipe Finder</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home</a></li>
                <li><a href="recipes">Favorite Recipes</a></li>
            </ul>
            <a href="/"><button class="btn btn-danger navbar-btn navbar-right" onclick="logout()"><span
                        class="glyphicon glyphicon-log-out"></span> Log Out</button>
            </a>
        </div>
    </nav>
    <header>
        <h1 class="text-center">Recipe Finder</h1>
    </header>
    <div class="container">
        <h2>My Recipes</h2>
        <p>TODO:: Query DB to get stored recipes for user</p>
    </div>

    <script src="./scripts/helper-functions.js"></script>
</body>

</html>